
<div class="post media" style="padding-bottom:5%;">
  

	
	<div class="media-body">
		<h6>
			<strong><a href="{% url 'posts:for_user' username=post.user.userprofile.username %}">@{{ post.user.userprofile.username }}</a></strong>
			<time class="time"><a href="{% url 'posts:single' username=post.user.userprofile.username pk=post.pk %}">{{ post.created_at }}</a></time>
		</h6>
		<h4 class="media-heading">
			
			{% if post.group %}
			<span class="group-name"><a href="#">{{ post.group.name }}</a></span>
			{% endif %}
		</h4>
		<div style="padding-top:3%">
			<div><h6><span style="font-weight: 600;">Your Name : </span><span style="font-weight: 400;">{{ post.name }}</span></h6></div>
			<div style="padding-top:2%"><h6><span style="font-weight: 600;">Current Year : </span><span style="font-weight: 400;">{{ post.year }}</span></h6></div>
			<div style="padding-top:2%">
				<h6 style="display: inline; font-weight: 600;">Your Message : </h6>
				<p style="display: inline;">{{ post.message_html | safe }}</p>
			</div>
			<div style="padding-top:2%">
				<h6 style="display: inline; font-weight: 600;">Your Qualifications : </h6>
				<p style="display: inline;">{{ post.qual_html | safe}}</p>
			</div>
		</div>
		
		
		




		<div class="media-footer" style="padding-top:2%">
			{% if user.is_authenticated and post.user == user and not hide_delete %}
				<button type="button" class="btn btn-md btn-danger">
					<a href="{% url 'posts:delete' pk=post.pk %}" title="delete">
						Delete
					</a>
				</button>
				<!-- <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
					<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
					<span class="text-danger icon-label">Delete</span>
				</a> -->
			{% endif %}
		</div>
	</div>
</div>
