{% extends "groups/group_base.html" %}
{% load static %}
{% block pregroup %}
<div class="row">

	<!-- Job Sidebar Wrap End -->

	<div class="col-md-4" style="padding-top: 15%; padding-bottom: 5%;">
		<div class="content">
			{% if user.is_authenticated %}
			<h5 class="title">
				Logged in as <a href="{% url 'accounts:profile' slug=user.userprofile.username %}">@{{user.userprofile.username}}</a>
			</h5>

			{% endif %}
			<div style="padding-top: 5%; padding-bottom: 15%;">
				<h3 class="title">Search Keywords</h3>
				<form action="{% url 'groups:searchbar' %}" method="POST" id="form1">
					{% csrf_token%}

					<input type="text" placeholder="e.g. web design" name="searchbar">
					<div style="padding-top: 5%;">
					<select name="fieldofjob"> 
						  <option value="all">Any category</option>
						  <option value="ml">Machine Learning</option>
						  <option value="appd">App Development</option>
						  <option value="webdf">Frontend Web Developmentr</option>
						  <option value="webdb">Backend Web Development</option>
						  <option value="sde">Software Development</option>
					</select>
				</div>
				</form>
				<div style="padding-top: 5%; padding-bottom: 10%;">
					<button form="form1" type="submit" class="btn btn-md btn-fill btn-info"><span
							class="glyphicon glyphicon-plus-sign"></span> Search</button>
				</div>
			</div>

		</div>
		{% if user.is_authenticated %}
		<h4>Are you a professor ?</h4>
		<div style="padding-top: 5%; padding-bottom: 10%;">
			<a href="{% url 'groups:create' %}" class="btn btn-md btn-fill btn-warning"><span
					class="glyphicon glyphicon-plus-sign"></span> Create A BTech Project</a>
		</div>
		{% endif %}
	</div>

	{% endblock %}

	{% block group_content %}
	<div class="col-md-8" style="padding-top: 10%;">
        <h2> Available BTech Projects</h2>
		<div class="list-group">

			{% for group in object_list %}
            {% if group.btp == True %}
            {% if group.finished == False %}
			<a class="list-group-item job-list" href="{% url 'groups:single' slug=group.slug %}">
				
				<div class="salary-type col-auto order-sm-3">
					<span class="salary-range">{{ group.stipend }}</span>

					{% if group.workstatus == "pt" %}
					<span class="badge badge-success">Part-Time</span>
					{% else %}
					<span class="badge badge-success">Full-Time</span>
					{% endif %}
					<!-- <span class="badge badge-success">FullTime</span> -->
				</div>
				<div class="content col">
					<h5 class="title">{{ group.name }}</h5>
					<ul class="meta">
						<!-- <h6>{{ group.description_html|safe }}</h6> -->
						<li><strong class="text-primary"> Created by <span class="badge"> {{ group.creator.userprofile.name }}
								</span></strong>
						</li>
						<li>Number of Application{{ group.posts.count|pluralize }} <span class="badge">
								{{ group.posts.count }} </span></li>
                        <li>Branch <span class="badge">
                                {{ group.branch }} </span></li>        
					</ul>
				</div>
			</a>
            {% endif %}
            {% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
