{% extends "base.html" %}
{% block content %}
<div class="page-heading-section section bg-parallax" data-bg-image="assets/images/bg/bg-1.jpg" data-overlay="50"
  style="background-image: url(&quot;assets/images/bg/bg-1.jpg&quot;); background-position: 50% 0px;">
  <div class="container">
    <div class="page-heading-content text-center">
      <h3 class="title">Browse Interns</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="https://demo.hasthemes.com/keller-preview/keller/index.html">Home</a></li>
        <li class="breadcrumb-item active">Interns</li>
      </ol>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    {% block pregroup %}{% endblock %}
    {% block group_content %}{% endblock %}
    {% block postgroup %}{% endblock %}
  </div>
</div>

{% endblock %}