{% extends "groups/group_base.html" %}
{% load static %}
{% block pregroup %}


<!-- Job Sidebar Wrap Start -->
<div class="col-lg-4 col-12 mb-5">
    <div class="sidebar-wrap">
        <!-- Sidebar (Search) Start -->
        <div class="sidebar-widget">
            <div class="inner">
                <h6 class="title">Search Keywords</h6>
                <form action="{% url 'searchbar' %}" method="get">
                    <input type="text" placeholder="e.g. web design" name="search">
                </form>
            </div>
        </div>
        <!-- Sidebar (Search) End -->

        <!-- Sidebar (Category) Start -->
        <div class="sidebar-widget">
            <div class="inner">
                <h6 class="title">Category</h6>
                <form action="https://demo.hasthemes.com/keller-preview/keller/job-list.html#">
                    <select>
                        <option value="1">Any category</option>
                        <option value="2">Web Designer</option>
                        <option value="3">Web Developer</option>
                        <option value="4">Graphic Designer</option>
                        <option value="5">App Developer</option>
                        <option value="6">UI &amp; UX Expert</option>
                    </select>
                </form>
            </div>
        </div>
        <!-- Sidebar (Category) End -->




        <!-- Sidebar (Date Posted) Start -->
        <div class="sidebar-widget">
            <div class="inner">
                <h6 class="title">Date Posted</h6>
                <form action="https://demo.hasthemes.com/keller-preview/keller/job-list.html#" class="mb-n1">
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted0">
                        <label class="custom-control-label" for="jobDatePosted0">Any Date</label>
                    </div>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted1">
                        <label class="custom-control-label" for="jobDatePosted1">Last Hour</label>
                    </div>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted2">
                        <label class="custom-control-label" for="jobDatePosted2">Last 24 Hours</label>
                    </div>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted3">
                        <label class="custom-control-label" for="jobDatePosted3">Last 7 Days</label>
                    </div>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted4">
                        <label class="custom-control-label" for="jobDatePosted4">Last 14 days</label>
                    </div>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted5">
                        <label class="custom-control-label" for="jobDatePosted5">Last 30 days</label>
                    </div>
                </form>
            </div>
        </div>
        <!-- Sidebar (Date Posted) End -->

        <!-- Sidebar (Qualification) Start -->
        <div class="sidebar-widget">
            <div class="inner">
                <h6 class="title">Qualification</h6>
                <form action="https://demo.hasthemes.com/keller-preview/keller/job-list.html#" class="mb-n1">
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" class="custom-control-input" name="jobQualification" id="jobQualification0">
                        <label class="custom-control-label" for="jobQualification0">Matriculation</label>
                    </div>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" class="custom-control-input" name="jobQualification" id="jobQualification1">
                        <label class="custom-control-label" for="jobQualification1">Intermidiate</label>
                    </div>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" class="custom-control-input" name="jobQualification" id="jobQualification2">
                        <label class="custom-control-label" for="jobQualification2">Gradute</label>
                    </div>
                </form>
            </div>
        </div>
        <!-- Sidebar (Qualification) End -->
    </div>
</div>
<!-- Job Sidebar Wrap End -->

<div class="col-md-4">
    <div class="content">
        {% if user.is_authenticated %}
        <p>
            Logged in as <a href="{% url 'posts:for_user' username=user.username %}">@{{user.username }}</a>
        </p>

        {% endif %}

        <h1>Interns:</h1>
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'groups:create' %}" class="btn btn-md btn-fill btn-warning"><span
            class="glyphicon glyphicon-plus-sign"></span> Create New Intern</a>
    {% endif %}
</div>

{% endblock %}

{% block group_content %}
<div class="col-md-8">
    <div class="list-group">

        {% if post %}
        {% for i in post %}
        <h1>{{ i.title }}</h1>

        {% endfor %}
        {% else %}
        <h2> No Results Found </h2>
        {% endif %}


    </div>
</div>
{% endblock %}